.DS_Store
node_modules
.tmp
npm-debug.log
__pycache__/*
.tox/*
src/main/__pycache__/
src/tests/__pycache__/
src/test/__pycache__/__init__.cpython-312.pyc
src/test/__pycache__/test_reminder.cpython-312-pytest-8.4.0.pyc
