.DS_Store
node_modules
.tmp
npm-debug.log
__pycache__/
.tox/*
src/__pycache__
src/tests/__pycache__
src/tests/.pytest_cache
src/tests/.mypy_cache
src/tests/.coverage
src/tests/coverage.xml
src/tests/htmlcov
src/tests/.hypothesis/
